<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <title>RansomAware Login</title>
</head>
<body>
    <div class="side-bar">
        <h1>RansomAware</h1>
        <p>Provide training and preparedness for the 
            employees to prevent future ransomware attacks against the 
            company.</p>
    </div>
    <div class="login-box">
        <h1>Log in</h1>
        <fieldset class="login-info">
            <label id="username">Username:
                <input type="text" name="username">
            </label>
            <label id="password">Password:
                <input type="password" name="password">
            </label>
        </fieldset>
        <br>
        <button type="submit" id="#link-button">Login</button>
        <p>New user? Create an account. <a href="signup.html">Sign up</a>
    </div>
    
</body>
</html>