{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <title>RansomAware Sign up</title>
</head>
<body>
    <div class="signup-box">
        <h2>New user Signup</h2>
        <fieldset class="signup-info">
            <label id="name">Name: <input type="text" name="name"></label>
            <label id="email">E-mail id: <input type="email" name="email"></label>
            <label id="username">Username: <input type="text" name="username"></label>
            <label id="password">Password: <input type="password" name="password"></label>
            <label id="repassword">Re-enter Password: <input type="password" name="repassword"></label>
        </fieldset> 
        <button type="submit" id="signup-button"><a href="login" id="#link-button">Sign up</a></button>
    </div>
</body>
</html>