{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/styles.css' %}">
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-inline">
          <p class="navbar-brand">RansomAware</p>
          <ul class="navbar-ul">
              <li class="navbar-li">
              <button class="logout">Log Out</button> 
              </li>
              <li class="navbar-li">
                  <a class="nav-link" href="#">Dashboard</a>
              </li>
              <li class="navbar-li">
                  <a class="nav-link" href="{% url 'schedule:schedule' %}">Schedule</a>
              </li>
              <li class="navbar-li">
                <a class="nav-link" href="{% url 'assessments:assessments' %}">Assessments</a>
              </li>
              <li class="navbar-li">
                  <a class="nav-link" href="{% url 'resources:resources' %}">Resources</a>
              </li>
          </ul>        
      </div>
  </nav>

    {% block content %}{% endblock content %}
    
  </body>
</html>
