{% extends "IT_person/base.html" %}
{% block content %}
  <main>
    <form>
      <label for="category">Select Email:</label>
      <select id="category" name="category" required>
        {% for item in phishing_emails %}
        <option value="">{{ item }}</option>
        {% endfor %}
      </select>
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>
  
      <button type="submit">Send</button>
    </form>
  </main>
{% endblock content %}

