{% extends "authentication/base.html" %}
{% load static %}
{% block content %}
<nav class="navbar-resources" id="navbar">
    <header>Resources</header>
    <ul>
        <li><a href="#News">News</a></li>
        <li><a href="#Articles">Articles</a></li>
    </ul>
</nav>
<main class="icon-page">
    <div id="News">
        <h1>News</h1>
    </div> 
    <div id="Articles">
        <h1>Articles</h1>
    </div>
</main>
<script src="{% static 'resources.js' %}"></script>
<script src="{% static 'articles.js' %}"></script>
{% endblock content %}


    